/* Animations */

	@-webkit-keyframes fade-in-onload {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}
	
	@keyframes fade-in-onload {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}
	
	.fade-in{
		-webkit-animation-name: fade-in-onload; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
		animation-name: fade-in-onload;
		animation-duration: 1.5s;		
	}
	
	@-webkit-keyframes zoom-in-onchange {
	    0%{
	    	transform: scale(0.0);
	    	-webkit-transform: scale(0.0);
	    }
	    100%{
	    	transform: scale(1.0);
	    	-webkit-transform: scale(1.0);
	    }
	}
	
	@keyframes zoom-in-onchange {
	  	0%{
	    	transform: scale(0.0);
	    	-webkit-transform: scale(0.0);
	    }
	    100%{
	    	transform: scale(1.0);
	    	-webkit-transform: scale(1.0);
	    }
	}
	.zoom-in{
		-webkit-animation-name: zoom-in-onchange; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
		-webkit-animation-timing-function: ease-in;
		animation-name: zoom-in-onchange;
		animation-duration: 1.5s;
		animation-timing-function: ease;
	}
/*Base*/

	body {
		font-family: "Lucida Console", monospace;
	}
	
	header{
		margin: 0px;
		font-size: larger;
		padding: 20px;
	}
	
	.main{
		margin: 0px;
	}
	
	footer{
		margin: 0px;
		padding: 5px;
	}
	
/*Containers*/

	.container{
		padding: 10px;
		display: flex;
	  	flex-direction: column;
	  	min-height: 100vh;
	}
	
	.footer {
		position: fixed;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    text-align: center;
	    font-size: large;
	}
	
	.row{
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
	}
	
	.col{
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
	}
	
	.hidden{
		visibility: hidden;
		display: none;
	}
	
/* Positioning */

	.left{
		float: left;
	}
	
	.right{
		float: right;
	}
	
	.center{
		margin: 0px auto;
	}
	
/* Card */

	.card{
		border: none;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
		transition: 0.3s;
		padding: 10px;
	}
	
	.card-title{
		font-family: "Lucida Console", monospace;
		font-size: 1.5em;	
	}
	
	.card:hover {
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
	}

	.card hr{
		width: 80%;
		border: solid 1px rgb(255,255,255);
	}
	
	.card.medium{
		width: 40%;
	}
	
/*Forms*/

	.form{
		padding: 5px;
	}
	
	input{
		margin: 5px;
	}
	
	.input-field{
	    padding: 10px;
	    margin: 10px;
	}
	.input-field label{
	    float: left;
	    color: rgb(71, 73, 205,) !important;
	}
	
	.input-field input{
	    /* top | right | bottom | left */
	    border-width: 0px 0px 3px 0px;
	    border-color: rgb(215, 195, 131);
	    color: rgb(71, 73, 115,) !important;
	    background-color: inherit;
	    padding: 3px 0px 3px 3px;
	    text-align: center;
	    font-size: large;
	}
	
/* Modal */

	.modal{
		display: none;
		position: fixed;
		z-index: 100;
		left: 0%;
		top: 0%;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: rgb(255,255,255);
		background-color: rgba(255,255,255,0);
	}
	
	.modal > .modal-container{
		background-color: rgb(255,255,255);
		margin: 15% auto;
		border: none;
		border-radius: 2%;
		width: 30%;
		height: 25%;
	}
	
	.modal-container > .ui-modal-content{
		margin: auto 25%;
		color: red;
		font-size: 2.0em;
		font-weight: 900;
		height: 80%;
	}
	
	.modal-container > .ui-modal-head{
		background-color: rgb(165, 204, 107);
		width: 100%;
		height: 20%;
	}
	.close{
		float:  right;
		font-size: 28px;
		font-weight: bold;
		border-radius: 30%;
	}
	
	.close:hover, .close:focus{
		color: rgb(0,0,0);
		text-decoration: none;
		cursor: pointer;
	}
	
/* Nav-Bar and Menus */

	.nav-bar{
		overflow: hidden;
	}
	.nav-item:hover {
	    background-color: rgb(112, 193, 9);
	    color: white;
	}
	.nav-item{
		float: left;
		padding: 10px;
	    text-decoration: none;
	    font-size: 17px;
		font-size: inherit;
	}
	.nav-bar img{
		cursor: pointer;
		float: left;
	}
	
	.logo{
		font-size: 30px;
		font-weight: bold;
	}
	
    .vertical-menu button{
        display: block;
        font-weight: bold;
        width: 100%;
        color: rgb(255,255,255);
        border: none;
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    .vertical-menu button:hover{
		background-color:rgb(100, 100, 100);
		background-color:rgba(0, 0, 0, 0.4);
    }
    
    .vertical-menu button:focus{
    	color: rgb(50,50,50);
    	color: rgba(0, 0, 0, 0.4);
    	background-color:rgb(220, 220, 220);
		background-color:rgba(255, 255, 255, 0.6);
    }
/* Colors */

	/* Background Color */
	
		.green-light{
			background-color: rgb(165, 204, 107);
		}
		.grey-light{
			background-color: rgb(240, 239, 244);
		}
		.gold{
			background-color: rgb(237, 191, 43);
		}
		
	/* Text Color */
	
		.text-green{
			color: rgb(112, 193, 9);
		}
		.text-gold{
			color: rgb(237, 191, 43);
		}
		
	/* Border Color */
		.brd-green{
			border-color: rgb(112, 193, 9) !important;
		}
/* Buttons */

	.btn{
		border: 2px solid;
	    padding: 10px;
	    font-size: 16px;
	    border-radius: 10px;
	    cursor: pointer;	
	}
	
	.btn:hover{
		color: white;
		background-color: rgb(112, 193, 9);
	}
	
/* Game related */

    canvas{
        cursor: crosshair;
        padding: 0px !important;
    }
    
    .header{
    	text-decoration: underline;
    	font-size: 1.2em;
    }
    
	#info{
		float: right;
		padding: 5px;
		font-size: 1.2em;
		cursor: pointer;
	}
	
	#info:hover{
		color: white;
		background-color: rgb(0,0,0);
	}
    .instruction-set{
    	padding-bottom: 40px;
    }
    .instruction-set li{
    	margin-top: 20px;
    	margin-bottom: 20px;
    	text-align: left;
    	font-weight: bold;
    }
    
    .no-cursor{
    	cursor: none;
    }
    
    #clock{
    	color: rgb( 255,0,0);
    	padding: 10px;
    	border-radius: 5px;
    	background-color: rgb(0,0,0);
    	width: 40%;
    	font-size: 1em;
    	text-align: center;
    	margin-left: 5%;
    }
    
    #score-board{
    	border: none;
    	background-color: inherit;
    	color: rgb(240,200,8);
    	font-size: 2em;
    	width: 30%;
    }
    
    .orange{
        background-color: rgb(255,200,0);
    }
    
    .green{
        background-color: rgb(0,255,0);
    }
    
    .red{
        background-color: rgb(255,0,0);
    }
    
    .black{
        background-color: rgb(0,0,0);
    }
    
    .blue{
        background-color: rgb(0,0,255);
    }
    
    .grey{
        background-color: rgb(150,150,150);
    }
    
    .light-blue{
        background-color: rgb(50,150,255);
    }
    .purple{
        background-color: rgb(200,0,255);
    }
    
/* Related to Boards */

	.scoreDiv {
		float: left;
		width: 30%;
		margin-left: 3%;
	}
	.scoreDiv h2 {
		text-align: center;
	}
	
	.scoreDiv table {
		width: 100%;
		text-align: center;
		border-collapse: collapse;
	}
	
	.scoreDiv th {
		font-size: 16pt;
	}
	
	.scoreDiv tr:nth-child(even) {
		background: #BBB;
	}