/*Base*/
	body {
	  
	}
	header{
		margin: 0px;
	}
	
	.main{
		margin: 0px;
	}
	
	footer{
		margin: 0px;
	}
/*Containers*/
	.container{
		padding: 10px;
		display: flex;
	  	flex-direction: column;
	  	min-height: 100vh;
	}
	.footer {
	  
	}
	.row{
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
	}
	
	.col{
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
	}
	.hidden{
		visibility: hidden;
	}
/*Card*/
	.card{
		border: none;
		box-shadow: 0px 0px 3px 2px rgb(150,150,150);
	}
	.card-title{
		font-family: "Lucida Console", monospace;
		font-size: 1.5em;	
	}
	
/* Game related */	
    canvas{
        cursor: crosshair;
    }	
    .orange{
        background-color: rgb(255,200,0);
    }
    
    .green{
        background-color: rgb(0,255,0);
    }
    
    .red{
        background-color: rgb(255,0,0);
    }
    
    .black{
        background-color: rgb(0,0,0);
    }
    
    .blue{
        background-color: rgb(0,0,255);
    }
    
    .grey{
        background-color: rgb(150,150,150);
    }
    
    .light-blue{
        background-color: rgb(50,150,255);
    }
    .purple{
        background-color: rgb(200,0,255);
    }
    
    .stylus{
        cursor: pointer;
    }
    
    .vertical-menu input{
        display: block;
        font-weight: bold;
        width: 100%;
        color: rgb(255,255,255);
        border:none;
    }